/* body{
    direction: rtl;
} */
th,td{
    border: 3px solid black;
    border-collapse: collapse;
   color: rgb(100, 99, 99); 
   /* width: 200px; */
 
}
.productTable{
    border: 3px solid black;
    border-collapse: collapse;  
    width: 800px;
    margin: auto;
}
.imagesProduct{
    width: 100px;
}